* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    position: relative;
    top: 40vh;
    font-size: 5rem;
    background-color: black;
    color: rgb(4, 231, 4);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;    
}